name: Standard Go CI workflow

on:
  workflow_call:
    secrets:
      GH_TOKEN:
        required: true
      FIREBASE_PROJECT_ID:
        required: false
      COVERALLS_REPO_TOKEN:
        required: false
    inputs:
      code_coverage:
        type: boolean
        required: false
        description: Run code coverage
      disable-version-bumping: # id of input
        type: boolean
        description: 'Disables version bumping - use for apps that are not versioned'
        required: false
      install-firebase-tools: # id of input
        type: boolean
        description: 'Installs Firebase tools'
        required: false
        default: false
      lint-timeout: # id of input
        type: string
        description: 'How long to wait for lint to complete before failing'
        required: false
        default: '3m'
      GOOGLE_APPLICATION_CREDENTIALS:
        type: string
        description: 'Path to Google Application Credentials file'
        required: false
      GOPRIVATE:
        type: string
        description: 'List of private Go modules'
        required: false
        default: ''
      additional_go_test_path:
        type: string
        required: false
        description: Path a module to sub-module to be tested in form of "./module_dir"
      min_test_coverage_percent:
        type: number
        required: false
        description: 'Minimum test coverage percentage required to pass the build'
      run-goreleaser:
        type: boolean
        description: 'Run GoReleaser'
        required: false
        default: false

jobs:

  go_lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.26'

      - run: go get ./...
        shell: bash
        env:
          GOPRIVATE: ${{ inputs.GOPRIVATE }}

      - run: go vet ./...
        shell: bash

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          #          version: v2.0

          args: --timeout=${{ inputs.lint-timeout }}

          # Optional: working directory, useful for monorepos
          # working-directory: some_dir

          # Optional: golangci-lint command line arguments.
          # args: --issues-exit-code=0

          # Optional: show only new issues if it's a pull request. The default value is `false`.
          # only-new-issues: true

          # Optional: if set to true then the all caching functionality will be complete disabled,
          #           takes precedence over all other caching options.
          # skip-cache: true

          # Optional: if set to true then the action don't cache or restore ~/.cache/go-build.
          # skip-build-cache: true

  go_test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.26'

      - if: ${{ inputs.install-firebase-tools }}
        name: Set up Java JRE 24
        uses: actions/setup-java@v5
        with:
          java-version: '24'
          java-package: 'jre'
          distribution: 'temurin'

      - if: ${{ inputs.install-firebase-tools }}
        name: Install Firebase tools
        run: npm install -g firebase-tools
        # run: curl -sL firebase.tools | bash

      - if: ${{ (!inputs.code_coverage || github.ref != 'refs/heads/main') && inputs.min_test_coverage_percent == '' }}
        run: go test ./...
        name: Run tests without coverage
        shell: bash
        env:
          FIREBASE_PROJECT_ID: ${{ secrets.FIREBASE_PROJECT_ID }}
          GOOGLE_APPLICATION_CREDENTIALS: ${{ runner.temp }}/${{ inputs.GOOGLE_APPLICATION_CREDENTIALS }}

      - if: ${{ inputs.additional_go_test_path }}
        run: go test ${{ inputs.additional_go_test_path }}
        name: Run additional go test
        shell: bash
        env:
          FIREBASE_PROJECT_ID: ${{ secrets.FIREBASE_PROJECT_ID }}
          GOOGLE_APPLICATION_CREDENTIALS: ${{ runner.temp }}/${{ inputs.GOOGLE_APPLICATION_CREDENTIALS }}

      - if: ${{ (inputs.code_coverage && github.ref == 'refs/heads/main') || inputs.min_test_coverage_percent != '' }}
        name: Run tests with coverage
        run: go test ./... -coverprofile=profile.cov -count=1
        shell: bash
        env:
          FIREBASE_PROJECT_ID: ${{ secrets.FIREBASE_PROJECT_ID }}
          GOOGLE_APPLICATION_CREDENTIALS: ${{ runner.temp }}/${{ inputs.GOOGLE_APPLICATION_CREDENTIALS }}

      - if: ${{ inputs.code_coverage && github.ref == 'refs/heads/main' }}
        uses: shogo82148/actions-goveralls@v1
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        with:
          github-token: ${{ secrets.GH_TOKEN }}
          path-to-profile: profile.cov

      - if: ${{ inputs.min_test_coverage_percent != '' }}
        name: Check test coverage
        shell: bash
        run: |
          total_coverage=$(go tool cover -func=profile.cov | grep total | awk '{print $3}' | sed 's/%//')
          echo "Total coverage: $total_coverage%"
          awk -v t=$total_coverage -v m=${{ inputs.min_test_coverage_percent }} 'BEGIN { if (t < m) { print "Coverage " t "% is below required " m "%"; exit 1 } }'

      - if: ${{ inputs.min_test_coverage_percent != '' }}
        run: go tool cover -func=profile.cov | tail -n 1

  go_build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.26'

      - name: Set GitHub access token for GOPRIVATE
        if: ${{ inputs.GOPRIVATE }}
        run: git config --global url."https://${{ secrets.GH_TOKEN }}:x-oauth-basic@github.com/sneat-co".insteadOf "https://github.com/sneat-co"

      - run: go get ./...
        shell: bash
        env:
          GOPRIVATE: ${{ inputs.GOPRIVATE }}

      - run: go build ./...
        shell: bash

  go_bump:
    name: Bump version & Release
    if: ${{ !inputs.disable-version-bumping && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    needs: [ go_build, go_lint, go_test ]
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - if: ${{ github.ref == 'refs/heads/main' }}
        id: tag_version
        name: Bump version and push tag
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          # fetch_all_tags: true - By default, this action fetch the last 100 tags from Github.


  go_release:
    name: GoReleaser
    if: ${{ inputs.run-goreleaser && !inputs.disable-version-bumping }}
    runs-on: ubuntu-latest
    needs: [ go_bump ]
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.26'

      - if: ${{ inputs.run-goreleaser && !inputs.disable-version-bumping && github.ref == 'refs/heads/main' }}
        uses: goreleaser/goreleaser-action@v6
        with:
          version: v2
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
